## Import required python libraries

In [42]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains
from time import sleep

In [43]:
chrome_options = Options()
chrome_options.add_experimental_option("detach",True)

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=chrome_options)
driver.get("https://www.kayak.co.in/flights/DEL-GOI/2024-05-30?sort=bestflight_a#default")
sleep(3)
driver.maximize_window()

In [44]:
for n in range(1,9):
    nt = driver.find_element(By.XPATH,"//div[@class='ULvh-button show-more-button']")
    nt.click()
    sleep(5)

driver.find_element(By.TAG_NAME,'body').send_keys(Keys.CONTROL + Keys.HOME)

In [45]:
name = []
price = []
time = []
airports = []
tt = []
ft = []

pages = driver.find_elements(By.XPATH,"//div[@class='nrc6-content-section']")
for page in pages:
    page.click()
    sleep(3)
    try:
        flight_name = driver.find_element(By.XPATH,"//div[@class='NxR6-plane-details']/div[1]")
        name.append(flight_name.text)
    except:
        name.append(" ")

    try:
        flight_price = driver.find_element(By.XPATH,"//div[@class='jnTP-display-price']")
        price.append(flight_price.text)
    except:
        price.append(" ")

    try:
        flight_timing = driver.find_element(By.XPATH,"//div[@class='NxR6-time']")
        time.append(flight_timing.text)
    except:
        time.append(" ")

    try:
        airport = driver.find_element(By.XPATH,"//div[@class='c2x94-title']/span[1]")
        airports.append(airport.text)
    except:
        airports.append(" ")

    try:
        time_take = driver.find_element(By.XPATH,"//span[@class='NxR6-duration']")
        tt.append(time_take.text)
    except:
        tt.append(" ")

    try:
        flight_type = driver.find_element(By.XPATH,"//div[@class='c2x94-sub-title']")
        ft.append(flight_type.text)
    except:
        ft.append(" ")
    driver.back()

In [46]:
data = pd.DataFrame()
data['Flight Name'] = name
data['Ticket Price'] = price
data['Flight timming'] = time
data['Airport to Airport'] = airports
data['Time Take'] = tt
data['Flight stops'] = ft

data

,Flight Name,Ticket Price,Flight timming,Airport to Airport,Time Take,Flight stops
0,Air India Express 560,"₹ 5,000",20:55 - 23:25(2h 30m),DEL → GOI,(2h 30m),Direct • 2h 30m
1,Vistara 855,"₹ 5,059",18:40 - 21:20(2h 40m),DEL → GOI,(2h 40m),Direct • 2h 40m
2,Air India Express 768,"₹ 5,400",14:50 - 17:20(2h 30m),DEL → GOI,(2h 30m),Direct • 2h 30m
3,Air India Express 769,"₹ 5,453",14:00 - 16:30(2h 30m),DEL → GOI,(2h 30m),Direct • 2h 30m
4,IndiGo 2028,"₹ 5,454",16:20 - 18:45(2h 25m),DEL → GOI,(2h 25m),Direct • 2h 25m
...,...,...,...,...,...,...
129,Air India 803,"₹ 62,948",06:10 - 08:55(2h 45m),DEL → GOI,(2h 45m),1 stop • 7h 55m
130,Air India 514,"₹ 62,948",03:35 - 06:25(2h 50m),DEL → GOI,(2h 50m),1 stop • 10h 30m
131,Air India 504,"₹ 63,998",21:10 - 00:05(2h 55m),DEL → GOI,(2h 55m),1 stop • 10h 20m
132,Qatar Airways 4781,"₹ 74,038",17:00 - 18:35(4h 05m),DEL → GOI,(4h 05m),1 stop • 8h 55m
133,Vistara 975,"₹ 85,915",05:50 - 08:00(2h 10m),DEL → GOI,(2h 10m),2 stops • 8h 15m

In [47]:
data.to_csv("Flight_Kayak.csv")

In [48]:
driver.quit()